<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>chineseOCR.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE6AB2AA20DB8F9C006F604B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE6AB2C120DB8F9F006F604B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE6AB2CC20DB8FA0006F604B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
